[Unit]
Description=sap rfc proxy
After=network.target

[Service]

Environment="SAPNWRFC_HOME=/root/projects/nwrfcsdk"
Environment="LD_LIBRARY_PATH=LD_LIBRARY_PATH:/root/projects/nwrfcsdk/lib"

ExecStart=/opt/sap_rfc_proxy/sap_rfc_proxy

ExecStop=/bin/kill -s QUIT $MAINPID
WorkingDirectory=/opt/sap_rfc_proxy

RestartSec=5s
Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target